body {
	background-color: yellow;
	margin-left:40%;
	margin-right:40%: 
}
.first{
	background-color: orange;
	width: 320px;
	height: 80px;
}
.second {
	background-color: white;
	width: 320px;
	height: 80px;
}
.third {
	background-color: green;
	width: 320px;
	height: 80px;
}